@model ScendMvc.Models.Proposal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Proposal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsFavorite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsFavorite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectCover)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectCover)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Target)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Target)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Video)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Video)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Principal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Principal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Identity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Identity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImgTeam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImgTeam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FanPage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FanPage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Web)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Web)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProposalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@*<h1 id="ProductId">@Model.ProductId</h1>*@



<div class=" container-roll col-11 mx-auto   " id="block1">
    <div class="d-flex col-12 col-md-10 flex-wrap mx-auto" id="asd">
        <div class="col-fulid-12 col-lg-6  " id="roll-img">
            <b-carousel id="carousel-no-animation" style="text-shadow: 0px 0px 2px #000" no-animation indicators
                        img-width="100%" img-height="720">
                <b-carousel-slide caption="First slide" img-src="https://picsum.photos/1024/720/?image=10" fluid></b-carousel-slide>
                <b-carousel-slide caption="Second Slide" img-src="https://picsum.photos/1024/720/?image=12" fluid>
                </b-carousel-slide>
                <b-carousel-slide caption="Third Slide" img-src="https://picsum.photos/1024/720/?image=22" fluid></b-carousel-slide>
                <b-carousel-slide caption="Fourth Slide" img-src="https://picsum.photos/1024/720/?image=23" fluid>
                </b-carousel-slide>
            </b-carousel>
        </div>
        <div class="col-fulid-12 col-lg-6 " id="text">
            <div>FOUNDING</div>
            <article>
                <H3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente magnam vel ex dicta fugit sequi officiis
                    iure reiciendis placeat illo!
                </H3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi est, temporibus delectus ipsam cumque
                    totam necessitatibus nostrum doloremque quo voluptate eos rerum a dolorum amet eius in ex aliquam placeat
                    sed eaque repellat? Blanditiis quasi non odio maiores in autem a velit earum, magnam harum vel natus
                    possimus aliquid porro!
                </p>

                <div class="d-flex" id="">
                    <div class="col-1 bg-success"></div>
                    <div>
                        <a href="">1233</a>
                        <p>1個廣告/地點</p>
                    </div>
                </div>
                <div class="d-flex">
                    <h3>NT${{value}}</h3>
                    <p>6456個支持</p>
                </div>
                <p>------------------------------------------</p>
                <b-progress :max="max">
                    <b-progress-bar :value="value" :label="`${((value / max) * 100).toFixed(2)}%`"></b-progress-bar>
                </b-progress>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, pariatur?</p>
                <div class="d-flex mx-auto ">

                    <button class="col-3"> <a >支持</a> </button>
                    <button class="col-3">跟隨</button>
                    <div class="col-4 d-flex   "><a href=""><i class="fab fa-facebook-square" id="icon"></i></a></div>
                </div>
            </article>
        </div>

    </div>
    <div class="col-10 mx-auto" id="info">
        <b-tabs active-nav-item-class="font-weight-bold text-uppercase text-danger"
                active-tab-class="font-weight-bold text-success"
                content-class="mt-3">
            <b-tab title="STORY" active><p>I'm the first tab</p></b-tab>
            <b-tab title="FAQ"><p>I'm the second tab</p></b-tab>
            <b-tab title="COMMENTS"><p>I'm a disabled tab!</p></b-tab>
        </b-tabs>
    </div>
</div>


@section Scripts {
    <script>




        //var Id = document.getElementById("ProductId");
        //var ProductId = parseInt(Id.innerText)
        var test = new Vue({
            el: '#block1',
            data: {
                max: 10000,
                value: 0
            },
            created: function () {
                $.ajax({
                    url: "api/Proposals/1512",
                    type: 'GET',
                    data: '',
                    async: true,
                    success: function (response) {
                        console.log(response.currentAmount);



                        GetResponse(response.currentAmount);


                    }
                });
                function GetResponse(input) {
                    this.test.value = input;
                };

            }
        });
    </script>
}

@*@section TopCss {
    <style>
        #ProductId {
            display: none;
        }
    </style>
}*@
